
.home {
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.home__container {
  width: 100%;
  max-width: 900px;
}

.home__title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.home__current {
  margin-bottom: 3rem;
}

.home__temperature {
  font-size: 3rem;
  font-weight: bold;
}

.home__forecast-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1rem;
}

.home__forecast-card {
  padding: 1rem;
  border-radius: 12px;
  backdrop-filter: blur(10px);
}
.home {
  min-height: 100vh;
  padding: 2rem;
  transition: background 0.6s ease-in-out;
  background-size: cover;
  background-position: center;
}

/* MODIFIERS */

.home--sunny {
  background-image: url("../assets/background/soleado.png");
}

.home--cloudy {
  background-image: url("../assets/background/nublado.png");
}

.home--rainy {
  background-image: url("../assets/background/lluvioso.png");
}

.home--storm {
  background-image: url("../assets/background/tormenta.png");
}

.weather-card {
  background-color: rgba(244, 247, 246, 0.72); /* 72% transparencia */
  border-radius: 24px;
  padding: 2.5rem;
  backdrop-filter: blur(8px);
}

/* CARD PRINCIPAL */
.weather-card__temperature {
  font-size: 5rem;
  font-weight: 700;
}

.weather-card__condition {
  font-size: 2rem;
  margin-top: 0.5rem;
}

.weather-card__updated {
  font-size: 1rem;
  margin-top: 1rem;
  opacity: 0.7;
}

.weather-card__icon-image {
  width: 180px;
  height: auto;
}

.weather-card__stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
/*Carruzel*/

/* Contenedor general */
.forecast-section__header {
  background-color: rgba(244, 247, 246, 0.72);
  padding: 1.2rem 2rem;
  border-radius: 20px;
  font-size: 1.4rem;
  font-weight: 600;
  backdrop-filter: blur(8px);
  margin-bottom: 2rem;
}

/* Carrusel horizontal */
.forecast-section__carousel {
  display: flex;
  gap: 1.5rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 1rem;
}

/* Card individual */
.forecast-card {
  min-width: 180px;
  background-color: rgba(244, 247, 246, 0.72);
  border-radius: 24px;
  padding: 1.5rem;
  text-align: center;
  backdrop-filter: blur(8px);
  flex-shrink: 0;
  transition: transform 0.3s ease;
}

.forecast-card:hover {
  transform: translateY(-5px);
}

/* Día */
.forecast-card__day {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

/* Icono */
.forecast-card__icon img {
  width: 90px;
  margin-bottom: 1rem;
}

/* Temperatura */
.forecast-card__temp {
  font-size: 1.8rem;
  font-weight: 600;
}

.forecast-card__min {
  opacity: 0.6;
  font-size: 1.3rem;
}