.header {
  width: 100%;
  background-color: #FFFFFF;
  padding: 1.2rem 0;
  display: flex;
  justify-content: center;
}

.header__container {
  max-width: 1200px;
  display: flex;
  justify-content: center;
}

.header__logo {
  height: 40px;
  object-fit: contain;
}